* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
html{
    height: 100%;
}
body {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    font-family: Helvetica, sans-serif; 
    font-weight: lighter;
    text-align: center;
    padding: 0px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.phoneicon_icon{
    width: 2%;
}
svg {
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 100%;
    height: 30px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}
  
.topnav #myLinks {
    display: none;
}
  
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
.topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
}
  
.active {
    background-color:#3b5848;
    color: white;
}
